// colours
$prime: #ffffff;
$second: #d6e2f0;
$third: #7b879d;
$forth: #1f3251;

.attribution { 
    font-size: 11px; 
    text-align: right;
    a { 
        color: $forth;
        text-decoration: none;
     } }